<div class="container-fluid">
        <h2>Register Form</h2>
        
        <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
          
          <div class="form-group">
            <label>Name</label>
            <input type="text" patter="[a-zA-Z]" #name="ngModel" (change) = "log(name)" minlength="3" maxlength="10" required class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="userModel.name">
            <div class="alert alert-danger" *ngIf= "name.touched && !name.valid">
              <div *ngIf="name.errors.minlength"> Min Length of name should be 3</div>
              <div *ngIf="name.errors.minlength"> Max Length of name should be 10</div>
              <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
            </div>
          </div>
      
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
          </div>
      
          <div class="form-group">
            <label>Mobile No</label>
            <input type="tel" #mobileNo="ngModel" required pattern="^\d{10}$" class="form-control" [class.is-invalid]="mobileNo.invalid && mobileNo.touched" name="mobileNo" [(ngModel)]="userModel.mobileNo">
            <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number must be 10 digits</small> -->
            <div *ngIf="mobileNo.errors && (mobileNo.invalid || mobileNo.touched)">
              <small class="text-danger" *ngIf="mobileNo.errors.required">Mobile No is required</small>      
              <small class="text-danger" *ngIf="mobileNo.errors.pattern">Mobile No must be 10 digits</small>      
            </div>
          </div>
          <div class="form-group">
              <label>Emg Contact Name</label>
              <input type="text" #emrgContactname="ngModel" required class="form-control" [class.is-invalid]="emrgContactname.invalid && emrgContactname.touched" name="emrgContactname" [(ngModel)]="userModel.emrgContactname">
              <small class="text-danger" [class.d-none]="emrgContactname.valid || emrgContactname.untouched">Emg Contact Name is required</small>
            </div>
            <div class="form-group">
                <label>Emg Mobile No</label>
                <input type="tel" #emrgMobileNo="ngModel" required pattern="^\d{10}$" class="form-control" [class.is-invalid]="emrgMobileNo.invalid && emrgMobileNo.touched" name="emrgMobileNo" [(ngModel)]="userModel.emrgMobileNo">
                <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number must be 10 digits</small> -->
                <div *ngIf="emrgMobileNo.errors && (emrgMobileNo.invalid || emrgMobileNo.touched)">
                  <small class="text-danger" *ngIf="emrgMobileNo.errors.required">Emg Mobile No is required</small>      
                  <small class="text-danger" *ngIf="emrgMobileNo.errors.pattern">Emg Mobile No must be 10 digits</small>      
                </div>
              </div>

            <div class="form-group">
                <label>Blood Group</label>
                <input type="text" #bloodGroup="ngModel" required class="form-control" [class.is-invalid]="bloodGroup.invalid && bloodGroup.touched" name="bloodGroup" [(ngModel)]="userModel.bloodGroup">
                <small class="text-danger" [class.d-none]="bloodGroup.valid || bloodGroup.untouched">Blood is required</small>
            </div>
          
          <div class="md-form">
              <label>Address Detail</label>
              <textarea type="text" #address="address"  id="adress"  #address="ngModel" required class="md-textarea md-textarea-auto form-control" name="address" [(ngModel)]="userModel.address" mdbInput></textarea>
          </div>
          <button class="btn btn-primary" [disabled]="userForm.form.invalid || topicHasError" type="submit">Submit Form</button>
      
        </form>
        <div class="alert alert-danger" *ngIf="errorMsg">
          {{errorMsg}}
        </div>
      </div>