<p>CYCLE - NETWORK - GROW </p>

    <p>Idea is to bring all the cyclists on a common platform:
        
        Here we ride (cycle/bike) together by organising different rides.
        
        CONCEPT CNG (CYCLE - NETWORK - GROW)
        
        idea is to bring all the cyclists on a common platform, irrespective of club/community/city, they patronage.
        
        here we:
        
        - ride together, share stories, participate in workshops/events etc.,
        - network with each other,
        - grow together by sharing opportunities in life.
    </p>

    <p> 
        CYCLE:
        
        bicycling has all sorts of health benefits—physical and mental,
        it's much easier on your legs, ankles, knees & feet,
        get out there and take advantage of a nice day,
        exploring & really getting to know the area around you better,
        for your sense of freedom and above all, for fun,
        you shall look forward to doing it.
    </p> 
    <p>
        NETWORK:
        
        in your career path,
        a strong network of connections will make everything accelerate,
        if you have not set up your own personal connections,
        you’ll need to divide a portion of your time to do this.
        CNG, provides you the opportunity to,
        build a strong Network,by meeting people,
        across all age groups and fields in life.
    </p>

    <p>
        
        GROW:
        
        a strong network of relationships, can enable you:
        contact smart friends, and learn their opinions,
        get information and knowledge that are difficult to obtain,
        help the company look for more potential partners,
        or income generating opportunities.
    </p>
        
    <p> 
        CNG, provides you the opportunity to,
        maintain health, network & learn,
        which results in ultimate Growth....
        
        so what are you waiting for ?
        
        lets "CYCLE - NETWORK - GROW"
        
        THATS "CNG"</p>
